/**********************************************************************************************/
/******************************************** header ******************************************/
/**********************************************************************************************/

.header {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

.header__navbar {
    position: relative;
    width: auto;
	background: linear-gradient(to top, black, 70%, transparent);
	transition: background-color 2s;
	z-index: 1;
}

.header__navbar--closed {
	height: 30.8vw;
	background-color: rgb(129, 120, 64);
	transition: height .3s, background-color .8s;
}

.header__navbar--open {
	height: 200vw;
	background-color:  rgb(107, 99, 51);
	transition: height .4s, background-color 1.5s;
}

.header__navbar__logo {
	position: absolute;
	top: 5vw;
	left: 5vw;
	width: 18vw;
	height: auto;
}

.header__navbar__button-x {
	position: absolute;
    float: right;
    top: 10vw;
	right: 8.7vw;
	font-size: 6vw;
	color: rgb(240, 184, 0);
	transition: color .4s;
	cursor: pointer;
	z-index: 500;
}

.header__navbar__button-x:hover {
	color: rgb(255, 227, 167);
	transition: color .4s;
}

.header__navbar__button-bars {
	position: absolute;
    float: right;
    top: 10.8vw;
	right: 8.4vw;
	font-size: 5vw;
	color: rgb(240, 184, 0);
	cursor: pointer;
	z-index: 500;
}

.header__navbar__button--closed {
	display: none;
}

.header__navbar__button--open {
	display: block;
}

.header__navbar__testimonial {
    position: relative;
    width: auto;
    top: 30vw;
    padding-top: 4vw;
    padding-bottom: 2vw;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8vw;
    padding-right: 8vw;
    font-size: 4.8vw;
    font-style: italic;
    color: rgb(255, 227, 167);
    background: linear-gradient(to top, rgb(117, 108, 57), 40%, transparent);
}

.header__navbar__pic {
	position: absolute;
	top: 65vw;
	width: 100%;
	height: auto;
	opacity: .5;
	z-index: -1;
}

.header__navbar__pic-visible {
	display: block;
}

.header__navbar__pic-hidden {
	display: none;
}

.header__navbar__testimonial--visible {
    display: inline-block;
}

.header__navbar__testimonial--hidden {
    display: none;
}

p .signature {
    float: right;
    margin-right: 5vw;
    line-height: 12vw;
}

menu {
	position: relative;
    text-align: left;
	display: flex;
	flex-direction: column;
	top: 60vw;
	width: 87vw;
	overflow: hidden;
    margin: 0;
}

.header__navbar__menu-open {
	height: 90vw;
	transition-delay: .2s;
	transition-duration: .25s;
}

.header__navbar__menu-closed {
	height: 0;
	transition-duration: .1s;
}

.header__navbar__menu__link, a:link, a:visited, a:hover {
	text-decoration: none !important;
}

.header__navbar__menu__link {
	position: relative;
	line-height: 10vw;
	border-bottom: 1px solid rgb(165, 154, 91);
    padding-bottom: .5vw;
	cursor: pointer;
	letter-spacing: .3vw;
	font-size: 5.5vw;
	font-weight: 500;
	color: rgb(231, 193, 66);
	text-shadow: 1px 1px rgb(51, 40, 4);
	transition: all .3s;
}

.header__navbar__menu__link:hover {
	border-bottom: 1px solid rgb(231, 188, 46);
	text-decoration: none;
	padding-left: 5vw;
	font-size: 5.9vw;
	font-weight: 500;
	color: rgb(240, 184, 0);
	transition: all .2s;
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /******************************************** header ******************************************/
    /**********************************************************************************************/

	.header__navbar--closed {
		height: 100px;
	}
	
	.header__navbar--open {
		height: 200vw;
		background-color:  rgb(107, 99, 51);
		transition: height .4s, background-color 1.5s;
	}
	
	.header__navbar__logo {
		top: 30px;
		left: 30px;
		width: 40px;
		height: auto;
	}
	
	.header__navbar__button-x {
		position: absolute;
		float: right;
		top: 10vw;
		right: 8.7vw;
		font-size: 6vw;
		color: rgb(240, 184, 0);
		transition: color .4s;
		cursor: pointer;
		z-index: 500;
	}
	
	.header__navbar__button-x:hover {
		color: rgb(255, 227, 167);
		transition: color .4s;
	}
	
	.header__navbar__button-bars {
		position: absolute;
		float: right;
		top: 10.8vw;
		right: 8.4vw;
		font-size: 5vw;
		color: rgb(240, 184, 0);
		cursor: pointer;
		z-index: 500;
	}
	
	.header__navbar__button--closed {
		display: none;
	}
	
	.header__navbar__button--open {
		display: block;
	}
	
	.header__navbar__testimonial {
		position: relative;
		width: auto;
		top: 30vw;
		padding-top: 4vw;
		padding-bottom: 2vw;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 8vw;
		padding-right: 8vw;
		font-size: 4.8vw;
		font-style: italic;
		color: rgb(255, 227, 167);
		background: linear-gradient(to top, rgb(117, 108, 57), 40%, transparent);
	}
	
	.header__navbar__pic {
		position: absolute;
		top: 65vw;
		width: 100%;
		height: auto;
		opacity: .5;
		z-index: -1;
	}
	
	.header__navbar__pic-visible {
		display: block;
	}
	
	.header__navbar__pic-hidden {
		display: none;
	}
	
	.header__navbar__testimonial--visible {
		display: inline-block;
	}
	
	.header__navbar__testimonial--hidden {
		display: none;
	}
	
	p .signature {
		float: right;
		margin-right: 5vw;
		line-height: 12vw;
	}
	
	menu {
		position: relative;
		text-align: left;
		display: flex;
		flex-direction: column;
		top: 60vw;
		width: 87vw;
		overflow: hidden;
		margin: 0;
	}
	
	.header__navbar__menu-open {
		height: 90vw;
		transition-delay: .2s;
		transition-duration: .25s;
	}
	
	.header__navbar__menu-closed {
		height: 0;
		transition-duration: .1s;
	}
	
	.header__navbar__menu__link, a:link, a:visited, a:hover {
		text-decoration: none !important;
	}
	
	.header__navbar__menu__link {
		position: relative;
		line-height: 10vw;
		border-bottom: 1px solid rgb(165, 154, 91);
		padding-bottom: .5vw;
		cursor: pointer;
		letter-spacing: .3vw;
		font-size: 5.5vw;
		font-weight: 500;
		color: rgb(231, 193, 66);
		text-shadow: 1px 1px rgb(51, 40, 4);
		transition: all .3s;
	}
	
	.header__navbar__menu__link:hover {
		border-bottom: 1px solid rgb(231, 188, 46);
		text-decoration: none;
		padding-left: 5vw;
		font-size: 5.9vw;
		font-weight: 500;
		color: rgb(240, 184, 0);
		transition: all .2s;
	}
}
