/**********************************************************************************************/
/******************************************** footer ******************************************/
/**********************************************************************************************/

.footer {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 80vw;
    height: auto;
}

.footer__video {
    position: absolute;
    filter: grayscale(0) brightness(80%)
}

.footer__container-video {
    width: 100%;
    height: auto;
}

.footer__container-video__fellow-me {
    position: relative;
    margin-bottom: 20vw;
    font-size: 10vw;
    font-weight: 600;
    letter-spacing: .4vw;
    color: white;
}

.footer__container-video__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: -15vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75vw;
    height: 20vw;
    text-align: center;
    align-items: center;
}

.footer__container-video__link__icon {
	position: relative;
    color: white;
    font-size: 9vw;
    cursor: pointer;
    transition: all .2s;
}

.footer__container-video__link__icon:hover {
	color: rgb(255, 200, 50);
    font-size: 15vw;
    transition: all .2s;
}

.footer__container-video__link2 {
    position: absolute;
    display: inline-block;
    top: 34vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 56vw;
    color: white;
    font-size: 7vw;
    font-weight: 600;
    letter-spacing: .5vw;
    cursor: pointer;
    transition: color .2s;
}

.footer__container-video__link2__arrow {
    margin-left: 3vw;
    font-size: 5vw;
}

.footer__container-video__link2:hover {
	color: rgb(255, 200, 50);
    transition: color .2s;
}

.footer__container-video__logo {
    position: relative;
	top: 47vw;
    width: 20vw;
	height: auto;
    cursor: pointer;
}

.footer__container-video__leon {
    position: relative;
    top: 37vw;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding-bottom: 5vw;
    font-size: 13vw;
    color: white;
    font-weight: 600;
    letter-spacing: 4vw;
}

.footer__container-video__text {
    position: relative;
    top: 30vw;
    font-size: 5vw;
    font-weight: 400;
    font-family: 'Open', sans-serif;
    color: white;
    letter-spacing: .3vw;
}

.footer__container-video__web {
    position: relative;
    top: 26vw;
    margin-bottom: 33vw;
    font-size: 5vw;
    font-weight: 400;
    font-family: 'Open', sans-serif;
    color: white;
    letter-spacing: .3vw;
}

.footer__container-info {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 10vw;
    font-family: 'Open', sans-serif;
    background-image: 
    url("https://www.transparenttextures.com/patterns/connected.png"),
    linear-gradient(to bottom, rgb(204, 118, 0), 30%, rgb(253, 215, 89));
}

.footer__container-info__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 8vw;
}

.footer__container-info__li {
    width: 75vw;
    min-height: 12vw;
    text-align: left;
    margin-left: 10vw;
    font-weight: 400;
    letter-spacing: .2vw;
    color: black;
}

.footer__container-info__li__icon-info {
    font-size: 6.7vw;
}

.footer__container-info__li__text {
    font-size: 4.5vw;
    font-weight: 500;
    margin-top: -6vw;
    margin-left: 10vw;
    margin-right: 5vw;
}

.footer__copyright {
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    font-size: 4vw;
    z-index: 1000;
    color: white;
    background-color: black;
}